$blue: #1875e7;
$side: left;

@font-face {
  font-family: 'Mynerve';
  src: url('@/assets/fonts/Mynerve-Regular.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}