$blue: #1875e7;
$side: left;
$topHeight: 5vh;

@font-face {
  font-family: 'OPlusSans3';
  src: url('@/assets/fonts/OPlusSans3-Bold.ttf') format('truetype');
}

.scssBox {
  width: 100vw;
  height: 100vh;
  background-color: $blue;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}